### Задание 1

In [2]:
a = 'world'
a[2]

'r'

In [4]:
a = 'test'
a[1:4]

'est'

### Задание 2

In [61]:
#a,b,c,d(введите любые числа,и после первого нуля выводится сумма всех ранее введенных чисел )
a, b, c, d = (3, 3, 3, 3)
if a == 0:
    print(a)
elif b ==0:
    print(a+b)
elif c==0:
    print(a+b+c)
elif d==0:
    print(a+b+c+d)
elif a != 0:
    print(a+b+c+d)
elif b !=0:
    print(a+b+c+d)
elif c!=0:
    print(a+b+c+d)
elif d!=0:
    print(a+b+c+d)
print('End')

12
End

### Задание 3

In [156]:
boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']
b_and_g = zip(sorted(boys), sorted(girls))
list(b_and_g)

[('Alex', 'Emma'),
 ('Arthur', 'Kate'),
 ('John', 'Kira'),
 ('Peter', 'Liza'),
 ('Richard', 'Trisha')]

In [159]:
boys = ['Peter', 'Alex', 'John', 'Richard', 'Michael', 'Arthur']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']
if len(boys)!=len(girls):
    print('Внимание, кто-то может остаться без пары!')
#Почему если добавить эти строчки то все ломаеца, воде логично что если в списках одинаковое значение строк,
#то он должен ночинать искать пары. Разве нет???
#elif len(boys)==len(girls):
#    print(b_and_g = zip(sorted(boys), sorted(girls)))

Внимание, кто-то может остаться без пары!

### Задание 4

In [362]:
#Средняя температура стран в градусах цельсия
#F-Фарингейт
#C-цельсия
countries_temperature_F = [
['Thailand_F', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
['Germany_F', [57.2, 55.4, 59, 59, 53.6]],
['Russia_F', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
['Poland_F', [50, 50, 53.6, 57.2, 55.4, 55.4]]
]
#Среднее значение по фарингейту и перевод в цельсия
#a-Thailand
#b-Germany
#c-Russia
#d-Poland
a=((((sum(countries_temperature_F[0] [1] ))/7)-32)/1.8)
b=((((sum(countries_temperature_F[1] [1] ))/5)-32)/1.8)
c=((((sum(countries_temperature_F[2] [1] ))/7)-32)/1.8)
d=((((sum(countries_temperature_F[3] [1] ))/6)-32)/1.8)

print('Thailand','-', round(a, 1),'C',',',
      'Germany','-',round(b, 1),'C',',',
      'Russia','-', round(c, 1),'C',',',
      'Poland','-', round(d, 1),'C','.',
      'Средняя температура в градусах цельсия')

Thailand - 23.9 C , Germany - 13.8 C , Russia - 3.7 C , Poland - 12.0 C . Средняя температура в градусах цельсия

### Задание 5

In [477]:
stream = [
'2018-01-01,user1,3',
'2018-01-07,user1,4',
'2018-03-29,user1,1',
'2018-04-04,user1,13',
'2018-01-05,user2,7',
'2018-06-14,user3,4',
'2018-07-02,user3,10',
'2018-03-21,user4,19',
'2018-03-22,user4,4',
'2018-04-22,user4,8',
'2018-05-03,user4,9',
'2018-05-11,user4,11',
]

for a in stream:
    print(a[17:])

3
4
1
13
7
4
10
19
4
8
9
11

'2018-05-11,user4,11'