### Задание 1

In [206]:
i = 'world'
i[2]

'r'

In [207]:
i = 'test'
i[1:3]

'es'

### Задание 2

In [205]:
#(введите любые числа,и после первого нуля выводится сумма всех ранее введенных чисел )

y=int(input('Введите число через пробел:'))
sum = 0
while y != 0:
    sum += y
    y = int(input('Введите число через пробел:'))
 
print(sum)

Введите число через пробел:3
Введите число через пробел:4
Введите число через пробел:5
Введите число через пробел:6
Введите число через пробел:0
18

### Задание 3

In [196]:
boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']
b_and_g = zip(sorted(boys), sorted(girls))
list(b_and_g)

[('Alex', 'Emma'),
 ('Arthur', 'Kate'),
 ('John', 'Kira'),
 ('Peter', 'Liza'),
 ('Richard', 'Trisha')]

In [197]:
boys = ['Peter', 'Alex', 'John', 'Richard', 'Michael', 'Arthur']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']
if len(boys)!=len(girls):
    print('Внимание, кто-то может остаться без пары!')
#Почему если добавить эти строчки то все ломаеца, воде логично что если в списках одинаковое значение строк,
#то он должен ночинать искать пары. Разве нет???
#elif len(boys)==len(girls):
#    print(b_and_g = zip(sorted(boys), sorted(girls))

Внимание, кто-то может остаться без пары!

### Задание 4

In [204]:
countries_temperature= [
['Thailand_F', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
['Germany_F', [57.2, 55.4, 59, 59, 53.6]],
['Russia_F', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
['Poland_F', [50, 50, 53.6, 57.2, 55.4, 55.4]]
]
#Среднее значение по фарингейту и перевод в цельсия
#a-Thailand
#b-Germany
#c-Russia
#d-Poland
a=((((sum(countries_temperature[0] [1] ))/(len(countries_temperature[0] [1])))-32)/1.8)
b=((((sum(countries_temperature [1] [1] ))/(len(countries_temperature[1] [1])))-32)/1.8)
c=((((sum(countries_temperature [2] [1] ))/(len(countries_temperature[2] [1])))-32)/1.8)
d=((((sum(countries_temperature [3] [1] ))/(len(countries_temperature[3] [1])))-32)/1.8)

print('Thailand','-', round(a, 1),'C',',',
      'Germany','-',round(b, 1),'C',',',
      'Russia','-', round(c, 1),'C',',',
      'Poland','-', round(d, 1),'C','.',
      'Средняя температура в градусах цельсия')

Thailand - 23.9 C , Germany - 13.8 C , Russia - 3.7 C , Poland - 12.0 C . Средняя температура в градусах цельсия